.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 7.5px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  text-transform: capitalize;
}

.Button:hover {
  cursor: pointer;
  border-color: transparent;
}


.Wide {
  padding: 10px 50px;
  width: 100%;
}

.ProfileFollow {
  width: 200px;
  padding: 6.5px;
}

.Black,
.BlackOutline:hover {
  background-color: #212427e9;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  border: 1.5px solid #212427e9;
}

.Black:focus {
  border: none;
  background-color: #212427 !important;
  box-shadow: none !important;
  border: 1.5px solid #212427 !important;
}

.Black:hover,
.BlackOutline {
  background-color: #212427;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  border: 1.5px solid #212427;
}

.Secondary {
  background-color: transparent;
  border: 1.5px solid #212427ca;
  color: #212427dc;
  transition: 0.2s ease-in-out;
}

.Secondary:hover {
  background-color: transparent;
  border: 1.5px solid #000000;
  color: #000000;
  transition: 0.2s ease-in-out;
}

.Secondary:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1.5px solid #000000 !important;
}