.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 7.5px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  text-transform: capitalize;
}

.Button:hover {
  cursor: pointer;
  border-color: transparent;
}

.Button:hover:active {
  background-color: #7852a9 !important;
}

.Button:active {
  background-color: #7852a9 !important;
}

.Button:focus {
  background-color: #7852a9;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Black,
.BlackOutline:hover {
  background-color: #212427;
  color: #ffffff;
  transition: background-color .2s ease-in-out;
}

.Black:hover,
.BlackOutline {
  background-color: #7852a9;
  color: #ffffff;
  transition: background-color .2s ease-in-out;
}

.Secondary {
  background-color: #ebebebdd;
  color: #212427;
}

.Secondary:hover {
  background-color: #aaaaaa;
}
