.Form {
  border: none;
  border-bottom: 2px #7852a9 solid;
  box-shadow: none !important;
}

.Form:focus {
    border-bottom: 2px #b57dff solid;
}

@media only screen and (max-width: 600px) {
  .Form {
    font-size: small !important;
  }
}