.NavBar {
    background-color: #1e1f21;
}

.Nav {
    color: #ebf1f4b4 !important;
    font-weight: 400;
    transition: color ease-in-out .2s;
    padding: 5px;
}

.Nav i {
    transition: color ease-in-out .2s;
}

.Nav:hover {
    color: #ebf1f4 !important;
    transition: color ease-in-out .2s;
}

.Active {
    color: #ebf1f4 !important;
}

.Active i {
    color: #b57dff !important;
}
