.Container {
  min-height: 390px;
}

.Input {
  background: #ffffff;
  border: 1px solid #dadadf;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
}

.Input:focus {
  box-shadow: none !important;
  border: 1px solid #dadadf !important;
  outline: none !important;
}

.Select {
  background: #ffffff;
  border: 1px solid #dadadf;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.Select:focus {
  box-shadow: none !important;
  border: 1px solid #dadadf !important;
  outline: none !important;
}
