.Post {
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid #dadadf;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 6px 3px -2px;
  color: #212427;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #212427;
}

.Heart:hover {
  color: #b57dff;
}

.HeartOutline:hover {
  color: #b57dff;
}

.Owner {
  color: #212427;
  transition: color ease-in-out 0.2s;
}

.Owner:hover {
  text-decoration: none;
  color: #7852a9;
}

.Style {
  font-size: medium;
  align-self: center;
  border-radius: 7.5px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  text-transform: capitalize;
  background-color: #212427;
  color: #ffffff;
}

.CommentLogo {
  color: #212427;
  transition: 0.2s ease-in-out color;
}

span i {
  color: #212427;
  transition: 0.2s ease-in-out color;
}

span i:hover {
  transition: 0.2s ease-in-out color;
  cursor: pointer;
}
