.Row {
  height: calc(100vh - 90px);
}
.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}


.Check {
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: #212427;
}

.Link:hover {
  color: #212427;
}

.Link span {
  color: #7852a9;
  transition: color ease-in-out 0.2s;
}

.Link span:hover {
  color: #b57dff;
  transition: color ease-in-out 0.2s;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
