.App {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.Main {
  padding-top: 90px;
}

* {
  box-sizing: border-box;
}

a:hover {
    text-decoration: none;
  }

i {
  font-size: 1.3rem;
  padding: 7px;
  vertical-align: middle;
}

